//common
$primary: #1D1F22;
$secondary: #5ECE7B;
$textPrimary:  #1D1F22;
$white_text: #FFFFFF;
$BG_for_white_text: #1D1F22;
//header
$price-selector-bg: #FFFFFF;
$price-selector-bg_hover: #EEEEEE;
//buttons
$primary-button-background: #5ECE7B;
$primary-button-text: #FFFFFF;
$primary-button-background_hover: #FFFFFF;
$primary-button-text_hover: #1D1F22;
$primary-button-border_hover: #1D1F22;
$secondary-button-background:#FFFFFF; 
$secondary-button-background_hover: #5ECE7B;
$secondary-button-text: #FFFFFF;
$secondary-button-text_hover: #1D1F22;
$secondary-button-border: #1D1F22;
//gallery
$galleryButtonBackGround: rgba(0, 0, 0, 0.73);
$galleryButtonColor: #FFFFFF;
//cart
$separatorColor: #E5E5E5;
$popUp-bg: rgba(57, 55, 72, 0.22);
$mini_cart_bg: #FFFFFF;
//product
$outOfStock: #8D8F9A;
$outOfStockBackground: rgba(255, 255, 255,0.5);