.thumbsGallery {
  display: flex;
}

.sidePreview {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.imgPreview {
  max-height: 80px;
  max-width: 80px;
  margin-bottom: 40px;
  cursor: pointer;
}

.mainSlide {
  width: 610px;
  flex-grow: 1;
  margin-right: 100px;

  &>img {
    width: 100%;
    ;
  }
}